/* Blink Animation */

.click-animation{
    animation-name: blink;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
  
  @keyframes blink{
    0%{
      background-color: #808080;
    }
    50%{
      background-color: orange;
    }
    100%{
      background-color: #808080;
    } 
  }
  